.App{
  text-align: center;
  height: 100vh;
  background-color: rgba(2, 4, 17, 0.815);
}

.btnLogin{
  /* border: 1px solid red; */
  position: relative;
  top:200px;
}

.btn{
  padding: 15px 25px;
  border-radius: 7px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover{
  background-color: rgba(2, 4, 17, 0.027);
  border-color: #fff;
  color: #fff;
  transition: ease .2s;
}

.txtLogin{
  color: aliceblue;
}

/*WHEN THE USER IS LOG IN / AUTHENTICATED*/
.userName{
  color: #fff;
}

.loginPage{
  position: relative;
  top: 200px;
}

.btnContainer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.btnLogged{
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.btnLogged:hover{
  background-color: rgba(2, 4, 17, 0.027);
  border-color: #fff;
  color: #fff;
  transition: ease .2s;
}